table .summary {
	padding: .5rem;
	background-color: var(--tertiary);
	color: var(--white);
}

table .summary .total {
	font-size: 1.25rem;
	font-weight: 200;
}

table .summary .delivery {
	font-size: .75rem;
	font-weight: 200;
}

table .summary .target {
	color: var(--secondary);
	font-size: .75rem;
}