table .model {
	padding: .5rem;
	background-color: var(--primary);
}

table .model .certainty-badge {
	display: inline-block;
	aspect-ratio: 1;
	width: 10px;
	margin-right: .25rem;
	border-radius: 100%;
	background-color: var(--tertiary);
}

table .model .description {
	font-size: .75rem;
}