table {
	border-collapse: collapse;
}

table th {
	padding: .25rem;
	opacity: .75;
	font-size: .75rem;
	font-weight: 400;
}

table td:not(.type) {
	height: 0;
	border: 1px solid var(--black);
}

table tbody tr.buyed {
	opacity: .5;
	transition-duration: .2s;
}
table tbody tr.buyed:hover {
	opacity: 1;
}