body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: initial;
	background-color: #202124;
}

button {
	all: initial;
	padding: .3rem 2rem;
	background-color: orangered;
	cursor: pointer;
	font-family: Arial;
	font-size: 18px;
}

canvas {
	position: absolute;
	background-color: #ff980060;
	pointer-events: none;
}