@import url("header.css");
@import url("section.css");

@font-face {
	font-family: "PPRadioGrotesk-Black";
	font-weight: 900;
	src: url("../fonts/PPRadioGrotesk-Black.otf");
}

@font-face {
	font-family: "PPRadioGrotesk-Regular";
	font-weight: 400;
	src: url("../fonts/PPRadioGrotesk-Regular.otf");
}

body {
	margin: 16px;
	font-family: "PPRadioGrotesk-Regular";
}

article {
	max-width: 21cm;
	margin: 0 auto;
}

ul.project-list {
	color: #757575;
}

ul li {
	padding: 2px 0;
}

a {
	opacity: 0.75;
	color: #000000;
	text-decoration: none;
	transition-duration: 0.2s;
}

a:hover {
	opacity: 1;
	text-decoration: underline;
}