/* Font import */

@font-face {
	font-family: "Circular Std Black";
	src: url("../fonts/CircularStdBlack.woff") format("woff");
}

@font-face {
	font-family: "Circular Std Medium";
	src: url("../fonts/CircularStdMedium.woff") format("woff");
}

/* Text selection color */
::-moz-selection {background-color: rgba(0, 0, 0, .2)}
::selection {background-color: rgba(0, 0, 0, .2)}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background-color: #ddd;
	font-family: "Circular Std Medium";
}

header {
	padding: 10px 20px;
	top: 0;
	position: sticky;
	background-color: #7411f6;
	color: #fff;
	font-size: 20px;
	z-index: 1;
}

header span {padding: 0 10px}

.container {
	flex-grow: 1;
	width: 65vw;
	margin: 0 auto;
	padding: 10px 20px 20px 20px;
	background-color: #fff;
}

/* Current project container */
.current {
	margin-bottom: 30px;
	padding: 20px 20px 10px 20px;
	border-left: 5px solid #ffa406;
	border-radius: 5px;
	background-color: #fedb9b;
}

.current h4 {color: #ffa406}

h2 {
	font-weight: normal;
	font-family: "Circular Std Black";
	letter-spacing: -.5px;
}

ul {
	list-style-type: none;
	margin-bottom: 30px;
	padding: 0 10px;
}
ul:last-of-type {margin-bottom: 0}

a {
	display: inline-flex;
	align-items: center;
	margin: 2px 4px;
	opacity: .75;
	color: #000 !important;
	text-decoration: none;
	transition-duration: .2s;
}
a:hover {
	opacity: 1;
	text-decoration: underline;
}

a ion-icon {
	min-width: 24px;
	margin-right: 6px;
	color: #000;
	font-size: 20px;
}

/* CV download */
.cv {
	margin-top: 40px;
	padding: 5px 10px;
	border: none;
	border-radius: 6px;
	background-color: transparent;
	text-decoration: none !important;
	transition-duration: .2s;
}
.cv:hover {background-color: #ddd}
.cv:active {
	background-color: #ccc;
	-webkit-transform: scale(.9);
	transform: scale(.9);
	transition-duration: .1s;
}