.skill-list {
	list-style-type: none;
}

.skill-list-item {
	margin: 4px 0;
	position: relative;
}

.skill-list-item::before {
	content: "";
	width: 6px;
	height: 2px;
	position: absolute;
	top: 8px;
	bottom: 0;
	left: -12px;
	border-radius: 4px;
	background-color: #555;
}

.skill-technology-container {
	display: flex;
	align-items: center;
	column-gap: 4px;
}