@import url(fonts.css);
@import url(table.css);
@import url(total.css);

:root {
	--primary: #f9f5e9;
	--secondary: #00b16a;
	--black: #000;
	--white: #fff;
}

body {
	display: flex;
	justify-content: center;
	margin: 1rem;
	font-family: "Radio Grotesk", sans-serif;
}