@import url(fonts.css);
@import url(table/image.css);
@import url(table/model.css);
@import url(table/sells.css);
@import url(table/summary.css);
@import url(table/table.css);
@import url(table/type.css);
@import url(total.css);

:root {
	--primary: #f9f5e9;
	--secondary: #231f20;
	--green: #00b16a;
	--red: #de1818;
	--black: #000;
	--white: #fff;
}

body {
	display: flex;
	justify-content: center;
	margin: 1rem;
	font-family: "Radio Grotesk", sans-serif;
}